.screencontainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.closescreen {
    position: absolute;
    right: 0px;
    top: -60px;
}

.SuccessScreen {
    position: relative;
    width: 303px;
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.successbag {
    width: 195px;
    height: 223px;
}

.pedidocompletado {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.pedido {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.pedidonum {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--celeste);
}

.button1 {
    width: 302.99591064453125px;
    height: 39.678035736083984px;
}
