.screencontainer {
  height: 100%;
  width: 100%;
}

.closescreen {
  top: 25px;
  right: -15px;
  position: absolute;
}

.SuccessScreen {
  width: 100%;
  position: relative;
  max-width: 303px;
  height: 100%;
}

.SuccessScreen.flex {
  flex-direction: column;
}

.successbag {
  width: 195px;
  height: 223px;
}

.pedidocompletado {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.pedido {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.pedidonum {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--celeste);
}

.button1 {
  width: 302.99591064453125px;
  height: 39.678035736083984px;
}
