.listitem {
    width: 345px;
    background-color: white;
    padding-top: 12px;
    padding-bottom: 5px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.listitemimg {
    width: 60px;
    height: 60px;
}

.listitemtitle {
    color: #3B456D;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
}

.listitemid {
    font-size: 10px;
    font-weight: 500;
    line-height: 20px;
    color: #6A708B;
}

.listitemprice {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #3B456D;
}