.AddButton {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 33px;
  height: 33px;
  border-radius: 6px 0px 6px 0px;
  background-color: #8381ff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
  transition: width 0.25s;
}

.ItemButtons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 89px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

.normalcount {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  width: 7px;
  color: var(--gris-oscuro);
}

.deleteitem {
  position: absolute;
  top: 10px;
  right: 10px;
}

.unfocused {
  width: 33px;
  background-color: var(--celeste);
}

.buttonactive {
  width: 109px;
}

.addbuttontext {
  font-family: Inter;
  font-size: 19px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: var(--gris-clarito);
  width: 18px;
}

.iconhide {
  display: none;
}

.iconshow {
  display: initial;
}

.textshow {
  margin-top: 3px;
}

.plusanimation {
  animation: plusanimation 0.25s
}

.minusanimation {
  animation: minusanimation 0.25s
}

@keyframes minusanimation {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(8px)
  }
}

@keyframes plusanimation {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-8px)
  }
}
