.AddButton {
    position:absolute;
    bottom: 0px;
    right: 0px;
    width: 33px;
    height: 33px;
    border-radius:   6px 0px 6px 0px;
    background-color: #8381FF;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
    transition: width 0.25s
}

.unfocused {
    width: 33px;
    background-color: var(--celeste)
}

.buttonactive {
    width: 109px
}

.addbuttontext {
    font-family: Inter;
font-size: 19px;
font-weight: 600;
line-height: 20px;
text-align: center;
color: var(--gris-clarito);
width: 18px;
}

.iconhide {
    display:none;
}

.iconshow {
    display: initial;
}