* {
  padding: 0px;
  margin: 0px;
  user-select: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: 0;
}

:root {
  --primary: #667080;
  --celeste: #17b8db;
  --violeta: #8380ff;
  --gris-medio: #6a708b;
  --gris-azulado: #3b456d;
  --gris-oscuro: #3b456d;
  --gris-claro: #98a0b6;
  --gris-fondo: #f4f5fb;
  --gris-clarito: #ffffff;
  --blanco: #ffffff;
  --gris-claro2: #e8eaf6;
  --verde: #35e5b0;
  --gris-lineas-inputs: #d4d8e2;
  --rojo: #ff2d52;
  --gradientes-principal: linear-gradient(
    236deg,
    #17b8db 0%,
    #43a1ea 40.45%,
    #8381ff 60.42%,
    #7775ed 70.13%,
    #6c6adb 100%
  );
  --gardiente2: linear-gradient(
    266deg,
    #17b8db 0%,
    #2baee2 16.93%,
    #36a8e5 31.51%,
    #44a1ea 49.74%,
    #6292f4 66.41%,
    #7588fa 81.51%,
    #8381ff 99.48%
  );
  --gardiente3: linear-gradient(
    177.06deg,
    #17b8db -24.6%,
    #43a1ea 3.27%,
    #8381ff 17.03%,
    #7775ed 23.72%,
    #6c6adb 44.3%
  );
}

/* Centra los items hijos al medio y en caso de mas de uno, uno alado del otro */

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Centra los items hijos al medio y en caso de mas de uno, uno debajo del otro */

.grid {
  display: grid;
  place-items: center;
}

/* Estilos para #root del index.html */

#root {
  width: 100%;
  height: 100%;
}

/* Main page */

.main {
  width: 100%;
  height: 100%;
}
