/* ---- Defaults ---- */

.text-title,
.text-subtitle,
.text-label,
.text-p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* ---- text-type ---- */

.text-title {
  font-family: "Inter", sans-serif;
}

.text-subtitle {
  font-family: "Inter", sans-serif;
}

.text-label {
  font-family: "Inter", sans-serif;
}

.text-p {
  font-family: "Inter", sans-serif;
  user-select: text;
}

.text-button {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

/* ---- text-transform ---- */

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

/* ---- text-color ---- */

.text-gris {
  color: var(--gris-azulado);
}

.text-violeta {
  color: var(--violeta);
}

.text-blanco {
  color: var(--blanco);
}

.text-gris-oscuro {
  color: var(--gris-oscuro);
}

/* ---- text-size ---- */

.text-extra-small {
  font-size: 12px;
}

.text-small {
  font-size: 16px;
}

.text-pre-medium {
  font-size: 18px;
}

.text-medium {
  font-size: 21px;
}

.text-large {
  font-size: 30px;
}

.text-auto {
  font-size: 100%;
}
