.companysArticle {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--gardiente3);
}

.companysArticle.flex {
  flex-direction: column;
}

.companysArticle-content.card {
  top: 0;
  position: fixed;
  width: 100%;
  height: 35%;
  padding-inline: 10px;
}

.companysArticle-content.content {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  padding-inline: 36px;
  border-radius: 16px 16px 0px 0px;
  background: var(--blanco);
  animation: cAContentEaseIn 0.7s ease-out forwards;
}

.companysArticle-content.content.flex {
  flex-direction: column;
  justify-content: space-evenly;
}

@keyframes cAContentEaseIn {
  0% {
    height: 100%;
  }

  100% {
    opacity: 1;
    height: 65%;
  }
}
