.icon {
  line-height: 0;
  transform: rotate(0deg);
  transition: ease 0.5s;
}

/* Style_Color */

.icon-gris-clarito {
  color: var(--gris-clarito);
}

.icon-gris-medio {
  color: var(--gris-medio);
}

.icon-violeta {
  color: var(--violeta);
}

/* Size */

.icon-small {
  font-size: 16px;
}

.icon-medium {
  font-size: 21px;
}

.icon-large {
  font-size: 30px;
}

.icon-auto {
  font-size: 100%;
}
